@import "tailwindcss";

@font-face {
  font-family: "CafeYabYekan";
  src: url("./assets/fonts/BYekanPlus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CafeYabYekan";
  src: url("./assets/fonts/BYekanPlus-Bold.ttf") format("truetype");
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-cream: #FFF5EB;
  --color-vanilla-cake: #F6E6CE;
  --color-caramel: #D89C6B;
  --color-moka: #6B4E3D;
  --color-olive: #ABB293;
  --color-desert: #EBC7CB;
  --color-bright-gray: #EAEAEA;
  --color-light-gray: #C0C0C0;
  --color-dark-gray: #606060;
  --color-charcoal: #282828;

  --font-subtitle: 12px;
  --font-list-title: 14px;
  --font-body: 16px;
  --font-h3: 20px;
  --font-h2: 24px;
  --font-h1: 32px;
  --font-super-title: 56px;

  font-family: "CafeYabYekan", Tahoma, Arial, sans-serif;
  color: var(--color-moka);
  background-color: var(--color-cream);
  font-synthesis: none;
  text-rendering: geometricPrecision;
}

* {
  box-sizing: border-box;
}

html {
  direction: rtl;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100svh;
  background-color: var(--color-cream);
}

button,
input {
  font: inherit;
}
